In [1]:
# write a program to print 1 to 49 in a file
def main():
    obj1 = open("Demo2.txt","w")
    for i in range(1,50):
        i = str(i)
        obj1.write(i)
        obj1.write(" ")
    obj1.close()
main()

In [2]:
# write a program to write different sentences to a file
def main():
    obj2 = open("Demo1.txt","w")
    obj2.write("Hello,How are you?  \n")
    obj2.write("Welcome to the Session  \n")
    obj2.write("Enjoy the chapter \n")
main()

In [3]:
# Generate 50 random numbers within range 500 to 1000 and write them to a file WriteNumRandom.txt
import random
def main():
    obj3 = open("WriteNumRandom.txt","w")
    for i in range(51):
        
        i = random.randint(500,1000)
        i = str(i)
        obj3.write(i)
        obj3.write(" ")
    obj3.close()
main()

In [4]:
#Read a text from a file
obj4 = open("Demo2.txt","r")
text =  obj4.read()
print(text)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [5]:
# other way

obj4 = open("Demo2.txt","r")
for txt in obj4:
    print(txt)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [11]:
my_list = [1, 2, 3, 4] 
your_list = [4, 3, 2, 1] 
his_list = [1, 2, 3, 4]
print(my_list == your_list)

False

In [12]:

my_dict = {1:1, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

True

In [13]:
n= int(input("Enter the Number"))
for num in range(1,n+1,1):
    print(num)

Enter the Number8
1
2
3
4
5
6
7
8

In [14]:
value = 0.25
while value < 8:
    value = value * 2
    print(value)
    break

print("final value:", value)

0.5
final value: 0.5

In [15]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the number of rows5
1
12
123
1234
12345

In [16]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end="")
    print()

Enter the number of rows8
1
22
333
4444
55555
666666
7777777
88888888

In [17]:
n=int(input("Enter the number of rows"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()

Enter the number of rows6
*
**
***
****
*****
******

In [18]:
n=int(input("Enter the number of rows"))
for row in range(n+1):
    for col in range(n+1):
        if col==0 or row==(n) or row==col:#here we made 3 parts
            print("*",end="")
        else:
            print(end=" ")
    print()

Enter the number of rows5
*
**
* *
*  *
*   *
******

In [19]:
string=input("Enter a string")
length=len(string)  #length would be the number of rows
for row in range(length): #starting from 0
    for col in range(row+1):
        print(string[col],end=" ")
    print()

Enter a stringsivanee
s
s i
s i v
s i v a
s i v a n
s i v a n e
s i v a n e e

In [20]:
import time 
import datetime
print("Current date and time:",datetime.datetime.now())
print("Current year:",datetime.date.today().strftime("%Y"))
print("Month ofthe year:",datetime.date.today().strftime("%B"))
print("Week number of the year:",datetime.date.today().strftime("%W"))
print("Weekday of the week:",datetime.date.today().strftime("%w"))
print("Day of the year:",datetime.date.today().strftime("%j"))
print("Day of the month:",datetime.date.today().strftime("%d"))
print("Day of the week:",datetime.date.today().strftime("%A"))

Current date and time: 2021-06-27 23:20:23.481819
Current year: 2021
Month ofthe year: June
Week number of the year: 25
Weekday of the week: 0
Day of the year: 178
Day of the month: 27
Day of the week: Sunday

In [21]:
def leap(y):
    if y%4==0 and y%100!=0:
        print("Yes")
    elif y%400==0:
        print ("Yes")
    else:
        print("No")
y=int(input("Enter the leap year:"))        
leap(y)

Enter the leap year:2005
No

In [22]:
from datetime import date,timedelta
print(date.today())
date=date.today()-timedelta(5)
print(date)

2021-06-27
2021-06-22

In [23]:
import datetime
today=datetime.date.today()
yesterday=today-datetime.timedelta(1)
tomorrow=today+datetime.timedelta(1)
print(today)
print(yesterday)
print(tomorrow)

2021-06-27
2021-06-26
2021-06-28

In [24]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or  ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
       
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [27]:
for row in range(7):
    for col in range(5):
        if col==0 or col==4 or (row==3 and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *