In [3]:
MY_LIST = [1,2,3,4]
YOUR_LIST=[4,3,2,1]
HIS_LIST=[1,2,3,4]
print(MY_LIST==HIS_LIST)

True

In [4]:
my_dict = {1:1,2:2,3:3,4:4}
his_dict = {4:4,3:3,2:2,1:1}
print(my_dict==his_dict)

True

In [7]:
for num in [1,2,3,4,5]:
 print(num**2)

1
4
9
16
25

In [9]:
for num in 'computer':
    print(num)

c
o
m
p
u
t
e
r

In [14]:
total = 0
prices = [2.50,3.50,4.50]
for price in prices:
    print('price is',price)
    total = total+price
    print('total is',total)
    average = total/len(prices)
    print('average is',average)

price is 2.5
total is 2.5
average is 0.8333333333333334
price is 3.5
total is 6.0
average is 2.0
price is 4.5
total is 10.5
average is 3.5

In [15]:
import random
r1 = random.random()
print(r1)

0.1726360714916847

In [17]:
r2 = random.choice([1,2,3,4,5])
print(r2)

3

In [20]:
r3 = random.randint(1,1000)
r3

354

In [23]:
for i in range(2004,2016,4):
    print(i)

2004
2008
2012

In [29]:
n = 1
num = int(input("enter the number"))
while n<= num:
    n+=1
    print(n)
    n+=1

enter the number9
2
4
6
8
10