In [1]:
print("welcome to the world")

welcome to the world

In [2]:
if 20 > 2:
    print("Twenty is greater than two")

Twenty is greater than two

In [3]:
if 20 < 6:
    print("Twenty less than six")

In [4]:
x = 5
y = 9
z = x + y
print("z")

z

In [5]:
x = 4
x = "sivv"
print(x)

sivv

In [6]:
x = str(3)
x = int(3)
x = float(3)
print(x)

3.0

In [7]:
x = 5
y = "sivanee"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [8]:
a = 5
A = "sivv"
print(a)
print(A)

5
sivv

In [9]:
x, y, z = "sivanee", "swachi", "chichi"
print(x)
print(y)
print(z)

sivanee
swachi
chichi

In [10]:
x = y = z = "sivanee"
print(x)
print(y)
print(z)

sivanee
sivanee
sivanee

In [11]:
names = ["sivanee", "swachi", "chichi"]
x, y,  z = names
print(x)
print(y)
print(z)

sivanee
swachi
chichi

In [12]:
x = "good girl"
y = "sivanee is"
print(y + " " + x)

sivanee is good girl

In [13]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"
    print("sivanee is " + x)
myfunc()

print("sivanee is " + x)

sivanee is fantastic
sivanee is fantastic

In [14]:
numbers = ["10", "30", "90"]
a, b, c = numbers
a, b, c = b, a, c
print(a, b, c)

30 10 90

In [15]:
import random

print(random.randrange(200,1000))

236

In [16]:
a = """""hello people,
I hope you all are doing good, 
please do takecare and 
stay safe and stay home."""
print(a)

""hello people,
I hope you all are doing good,
please do takecare and
stay safe and stay home.

In [17]:
a = "sivanee sangeetham"
print(a[10], a[3], a[6])

n a e

In [18]:
for X in "banana":
    print(X)

b
a
n
a
n
a

In [19]:
a = "sangeetham sivanee"
print(len(a))

18

In [20]:
txt = "Be you ! The world will adjust"
print("The" in txt)

True

In [21]:
txt = "Be you ! The world will adjust"
if "The" in txt:
    print("yes, 'The' is present.")

yes, 'The' is present.

In [22]:
a = "nknjhfemi,jlmmhujw"
print(a[-8:-2])

jlmmhu

In [23]:
apple = 30
mango = 60
banana = 50
total = "I want {} apples, {} mangoes and {} bananas."
print(total.format(apple, mango, banana))

I want 30 apples, 60 mangoes and 50 bananas.

In [24]:
age = 21
standard = 15
year = 2022
doing = "I want to do job after {1} standard at {0} years old in the year {2}."
print(doing.format(age, standard, year))

I want to do job after 15 standard at 21 years old in the year 2022.

In [25]:
round(2.555)

3

In [26]:
abs(3.14)

3.14

In [29]:
x ="apple"
y = "p"
y not in x

False

In [30]:
mylist = ["apple", "banana", "cherry", "apple", "cherry"]
print(type(mylist))

<class 'list'>

In [31]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [32]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [33]:
list1 = "apple", "banana", "cherry"
list2 = 1, 5, 7, 9, 3
list3 = True, False, False
print(type(list1))
print(type(list2))
print(type(list3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [34]:
thislist = list(("apple", "banana", "cherry")) 
print(thislist)

['apple', 'banana', 'cherry']

In [35]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [36]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [37]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [39]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [40]:
mylist = ["apple", "banana", "kiwi"]
if "cherry" not in mylist:
    print("yes,'cherry' is in my list")

yes,'cherry' is in my list

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [42]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [48]:
x = ["apple", "banana", "mango"]
y = ("cherry", "grapes", "litchi")
x.extend(y)
print(x)

['apple', 'banana', 'mango', 'cherry', 'grapes', 'litchi']

In [49]:
x = ["apple", "cake", "orange", "mango"]
x.remove("cake")
print(x)

['apple', 'orange', 'mango']

In [50]:
x = ["apple", "cake", "orange", "mango"]
x.pop()
print(x)

['apple', 'cake', 'orange']

In [51]:
x = ["apple", "cake", "orange", "mango"]
del x

In [52]:
y = ["apple", "cake", "orange", "mango"]
for x in y:
 print(y)

['apple', 'cake', 'orange', 'mango']
['apple', 'cake', 'orange', 'mango']
['apple', 'cake', 'orange', 'mango']
['apple', 'cake', 'orange', 'mango']

In [53]:
x = ["apple", "cake", "orange", "mango"]
for i in range(len(x)):
    print(x[i])

apple
cake
orange
mango

In [54]:
print("Hello python")

Hello python

In [55]:
a = 10
b = 80
c = a + b
print(c)

90

In [56]:
def maximum(a, b):
 if a >=b:
    return a
 else:
    return b
a = 2
b = 4
print(maximum(a, b))

4

In [57]:
a = 2
b = 4
maximum = max(a, b)
print(maximum)

4

In [58]:
def factorial(n):
    return 1 if (n==1 or n==0) else n*factorial(n-1);
num = 5;
print("factorial of",num,"is",factorial(num))

factorial of 5 is 120

In [59]:
def simple_interest(p, t, r):
    print('the Principal is:',p)
    print('The time period is', t)
    print('The rate of interest is',r)
      
    si = (p * t * r)/100
      
    print('The Simple Interest is', si)
    return si
simple_interest(7, 5, 6)

the Principal is: 7
The time period is 5
The rate of interest is 6
The Simple Interest is 2.1

2.1

In [60]:
print("knight's")

knight's

In [61]:
print('night"s')

night"s

In [62]:
aa = "SLICEOFSPAM"
print(aa[-3:-5])

In [63]:
x = "hello"
x = x+ " " +"there"
print(x)

hello there

In [64]:
a=10
a

10

In [65]:
a= 60+90
a

150

In [2]:
num = int(input("please enter the number:"))
if num > 1:
           
    for i in range(2,num//2):
        
        if (num % i) ==0:
           print(num,"is not a prime number")
           break
                 
        else:
           print(num,"is a prime number")
else:
   print(num,"is not a prime number")

please enter the number:5

In [67]:
even_no = [i for i in range(1,20) if i%2==0]
 
print("Result:", even_no)

Result: [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [68]:
odd_no = [x for x in range(1,100) if x%2!=0]
print("Result:",odd_no)

Result: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [3]:
num = int(input("enter a number:"))
if (num%2) ==0:
    print(num, "is a even number")
else:
    print(num,"is a odd number")

enter a number:5
5 is a odd number

In [70]:
a = ['spam', 'eggs', 100, 1234, 2*2]
a[2] = a[2] + 23

In [72]:
print(range(4))

range(0, 4)

In [73]:
x = ['Joseph', 'Glenn', 'Sally']
print(len(x))
print(range(len(x)))
for i in x:
    print('happy new year:', i)
for y in range(len(x)):
    print(len(x))
    print(y)
    i = x[y]
    print('happy new year:', i)

3
range(0, 3)
happy new year: Joseph
happy new year: Glenn
happy new year: Sally
3
0
happy new year: Joseph
3
1
happy new year: Glenn
3
2
happy new year: Sally

In [74]:
a= [1,2,3]
b = [3,4,5,6]
c=a+b
print(c)

[1, 2, 3, 3, 4, 5, 6]

In [5]:
total = 0
count = 0
while True: 
    inp=input('enter a num:') 
    if inp=='done' : break 
    value = float(inp)
    total = total + value 
    count = count + 1

enter a num:5
enter a num:6
enter a num:9
enter a num:8
enter a num:7
enter a num:3
enter a num:2
enter a num:3
enter a num:done

In [76]:
print(count)

0

In [77]:
line = 'from salman.amir@gmail.com sat jan 5 09:14:16 2020'
words = line.split()
email = words[1]
pieces = email.split('@')
print(pieces[1])

gmail.com

In [78]:
line = 'From salman.amir@gmail.com sat jan 5 09:14:16 2020'
words = line.split()
words

['From', 'salman.amir@gmail.com', 'sat', 'jan', '5', '09:14:16', '2020']

In [79]:
email = words[1]
email

'salman.amir@gmail.com'

In [80]:
pieces = email.split('@')
print(pieces[1])

gmail.com

In [81]:
aa=[]
print(aa.append(1))
print(aa.append(2))
print(aa.append(3))
print(aa.append('4'))
print(aa.append(5.0))
print(aa)

None
None
None
None
None
[1, 2, 3, '4', 5.0]

In [82]:
def my_function():
    print("Hello from a function. ")
my_function()

Hello from a function.

In [83]:
def my_function(fname,fage):
    print(fname + "name" , fage + " age")
my_function("Emil"+" ","60")
my_function("Tobias"+" ","50")
my_function("Linus"+" ","20")

Emil name 60 age
Tobias name 50 age
Linus name 20 age

In [84]:
def my_function(*kids):
    print("The youngest child is " + kids[0])
my_function("sivanee","chichi","smooch")

The youngest child is sivanee

In [85]:
def my_function(child1,child2,child3):
    print("The youngest child is " + child1)
my_function(child1 = "sivanee",child2 = "chichi",child3 = "smooch")

The youngest child is sivanee

In [86]:
def your_function(country = "USA"):
    print("I am from " + country)
your_function("Sweden")
your_function("India")
your_function()
your_function("Brazil")

I am from Sweden
I am from India
I am from USA
I am from Brazil

In [87]:
def my_function(food):
    for x in food:
        print(x)
foods = ["noodles","maggie","rool"]
my_function(foods)

noodles
maggie
rool

In [88]:
def my_function(x):
    return 5 * x

print(my_function(20))
print(my_function(66))
print(my_function(300))

100
330
1500

In [89]:
def my_function():
    pass

In [90]:
x = lambda a,b,c,d:a*b+c/d
print(x(10,50,60,80))

500.75

In [91]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [92]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [93]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [94]:
cars = ["Ford","Volvo","Bmw"]

In [95]:
car1 = "Ford"
car2 = "Volvo"
car3 = "Bmw"

In [96]:
x = cars[0]

In [97]:
cars[0] = "TOYOta"

In [98]:
x = len(cars)

In [99]:
for x in cars:
    print(x)

TOYOta
Volvo
Bmw

In [100]:
cars.append("Honda")

In [101]:
for x in cars:
    print(x)

TOYOta
Volvo
Bmw
Honda

In [102]:
cars.pop(1)
x

'Honda'

In [103]:
cars.append("Honda")
x

'Honda'

In [104]:
cars.append("Audi")
x

'Honda'

In [105]:
for x in cars:
    print(x)

TOYOta
Bmw
Honda
Honda
Audi

In [106]:
cars.copy()
print(x)

Audi

In [107]:
cars.count(x)
x

'Audi'

In [108]:
cars.reverse()
x

'Audi'

In [109]:
cars.sort()
x

'Audi'

In [110]:
class MyClass:
    x = 5
print(MyClass)

<class '__main__.MyClass'>

In [111]:
p1 = MyClass()
print(p1.x)

5

In [112]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
p1 = person("Sivanee", 21)
p2 = person("Chichi",22)
p3 = person("Smooch", 22)
p4 = person("Tutul", 23)
print(p1.name,p1.age," ",p2.name,p2.age," ",p3.name,p3.age," ",p4.name,p4.age)

Sivanee 21   Chichi 22   Smooch 22   Tutul 23

In [113]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Sivanee", 21)

print(p1.name)
print(p1.age)

Sivanee
21

In [114]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
    print("Hello my age is " + str(self.age))
p1 = Person("Sivanee", 21)
p2 = Person("Chichi",22)
p3 = Person("Smooch", 22)
p4 = Person("Tutul", 23)

p1.myfunc()
p2.myfunc()
p3.myfunc()
p4.myfunc()

Hello my name is Sivanee
Hello my age is 21
Hello my name is Chichi
Hello my age is 22
Hello my name is Smooch
Hello my age is 22
Hello my name is Tutul
Hello my age is 23

In [115]:
p1.age = 22
p4.name = "Yamini"

p1.myfunc()
p2.myfunc()
p3.myfunc()
p4.myfunc()

Hello my name is Sivanee
Hello my age is 22
Hello my name is Chichi
Hello my age is 22
Hello my name is Smooch
Hello my age is 22
Hello my name is Yamini
Hello my age is 23

In [ ]:
import numpy as np
B  = np.random.rand(10000)
%timeit sum(B)

In [ ]:
%timeit np.sum(B)

In [ ]:
%%timeit
s=0
for x in B:
    s+=x