In [1]:
import datetime
x = datetime.datetime.now()
print(x)

2021-06-15 21:16:06.928604

In [2]:
import datetime
x =datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2021
Tuesday

In [3]:
import datetime

x = datetime.datetime(2021,6,15)
print(x)

2021-06-15 00:00:00

In [4]:
x = max(5, 10, 25)
y = min(5, 10, 25)

print(x)
print(y)

25
5

In [5]:
x = abs(-7.25)
x

7.25

In [6]:
x = pow(4, 3)

print(x)

64

In [7]:
import math
x = math.sqrt(64)
print(x)

8.0

In [8]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) 
print(y)

2
1

In [9]:
import math

x = math.pi

print(x)

3.141592653589793

In [10]:
import json

x = '{"name":"john","age":30,"city":"bbsr"}'
y = json.loads(x)
print(y["age"])

30

In [11]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [12]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [13]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [14]:
json.dumps(x,indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [15]:
json.dumps(x,indent = 4,separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [16]:
json.dumps(x, indent = 4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

In [17]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x